.games {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('./bgs/game_bg.jpg');
    padding: 40px 20px;
}

.slick-list {
    background-image: url('./bgs/game_bg.jpg');
    margin-top: -10px;
    height: 250px;
}

@keyframes opacityAnimation {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

.game {
    border: 1px solid #b5b8b3;
    border-radius: 18px;
    width: 300px;
    height: 180px;
    padding: 10px 0 25px 0;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 15px 0 #585858;
    transition: 0.8s;
    margin: 30px;
}

.game:hover {
    transform: scale(1.05);
}

.game img {
    /* width: 150px !important; */
    display: block;
    animation: opacityAnimation 2s linear infinite;
}

.game button {
    position: absolute;
    bottom: -20px;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    width: 190px;
    display: inline-block;
    color: #fff;
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: -webkit-gradient(linear, right top, left top, from(#1c294e), to(#1c294e));
    background: -webkit-linear-gradient(right, #1c294e, #1c294e);
    background: -o-linear-gradient(right, #1c294e, #1c294e);
    background: linear-gradient(to left, #1c294e, #1c294e);
}

.game button:hover {
    background: -webkit-gradient(linear, left top, right top, from(#ff344d), to(#d2273c));
    background: -webkit-linear-gradient(left, #ff344d, #d2273c);
    background: -o-linear-gradient(left, #ff344d, #d2273c);
    background: linear-gradient(to right, #ff344d, #d2273c);
    color: #fff;
}

.game-card {
    background: transparent !important;
    border: 2px solid yellow !important;
}

.game-card .game-card-img {
    width: 170px;
    margin: 0 auto;
}

.game-card-text {
    text-align: center;
    background: black;
    color: white;
    padding: 8px;
}

.game-container {
    background-image: url('./bgs/game_bg.jpg');
}

.selected-number {
    background: linear-gradient(to right, #ff344d, #d2273c);
}

.play-button {
    width: 200px;
}